<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home / HelpingHands</title>
</head>
<body>
    <h1>Welcome to home {{fname}} {{lname}}</h1>
    <br>
    <a href="/logout">Log Out</a>
</body>
</html>
